body{
    margin: 0;
    background-color: black;
}
.title{
    font-family: risiko;
    color: red;
    text-align: center;
    font-size: 150px;
    letter-spacing: 5px;
}
@font-face {
    font-family: risiko;
    src: url(fonts/Benzin-ExtraBold.ttf);
}
button{
    
    font-family: risiko;
    height: 165;
    width: 680;
    font-size: 120px;
    letter-spacing: 7px;

}
#video-back{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -100000;
  }
  .page{
    z-index: 0;
  }
  .video-backG{
    z-index: 1;
  }
  .all{
    margin: 0;
    position: relative;
    height: 100%;
  }